.smart-calendar {
  border-radius: 24px;
  background-color: #f6f6f6;
  padding: 24px 30px;
  box-sizing: border-box;
  color: #202020;

  .calendar-header {
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;

    .month-year-wrapper {
      .month {
        font-size: 20px;
        font-weight: 500;
      }
      .year {
        font-size: 14px;
        color: #cccccc;
        font-weight: 500;
      }
    }

    .month-toggle-wrapper {
      display: flex;
      gap: 8px;

      .month-toggle {
        height: 28px;
        width: 28px;
        border-radius: 14px;
        background-color: #eaeaea;
        display: grid;
        place-items: center;
        font-size: 20px;
        color: #7d7d7d;
        cursor: pointer;
        &:hover {
          background-color: #e1e1e1;
        }
      }
    }
  }

  .calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 36px);
    grid-template-rows: repeat(7, 36px);
    gap: 8px;
    place-items: center;

    .weekday {
      height: 24px;
      background-color: #eeeeee;
      color: #202020;
      font-size: 12px;
      border-radius: 8px;
      text-align: center;
      width: 100%;
    }
  }
}
