.smart-calendar-day {
  box-sizing: border-box;
  border-radius: 8px;
  border: 2px solid #eeeeee;
  color: #202020;
  font-size: 14px;
  width: 36px;
  height: 36px;
  display: grid;
  place-items: center;
  cursor: pointer;

  &.past-day {
    background-color: transparent;
  }

  &.blank-day {
    pointer-events: none;
    border: none;
  }

  &.future-day {
    background-color: white;
  }

  &.current-day {
    border-color: #2caffe;
    background-color: white;
  }

  &.selected-day {
    border-color: #2caffe;
    background-color: #2caffe;
    color: white;
  }
  &.activity-day {
    border: 2px solid #eeeeee;
    background-color: #c1ec56;
    color: #202020;
    position: relative;

    smart-calendar-day-scratch {
      position: absolute;
      top: 50%;
      left: 50%;
    }
  }
}
